@import "bootstrap/app";
@import "common";
@import "~react-select/scss/default";
@import "footer";
@import "buttons";
@import "form";
@import "tables";
@import "dropzone";

html, body {
  overflow-y: auto;
  background-color: $light-primary-color;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
}

main {
  padding-top: 15px;
  margin-bottom: 80px;
}

select.max {
  max-width: 300px;
  padding: 6px 2px;
}

a {
  color: $accent-color;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

label {
  display: inline;
  font-weight: normal;
}

.splash {
  margin-top: 150px;
  margin-bottom: 50px;
  h1 {
    font-size: 40px;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

// Solution scroll horizontal
@media (min-width: 768px) {
  .container {
    width: inherit;
  }
}

.box-container {
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 30px 15px;
  background-color: #fff;
  border-radius: 10px;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.top-line-color {
  height: 10px;
  background-color: $default-primary-color;
}

.logo {
  margin: 20px 12px;
}
