@import "font-awesome-overrides";
@import "~components-font-awesome/scss/font-awesome";
@import "palette";

small {
  font-size: 95%;
}

h2, h3, h1 {
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-primary-color;
  .fa-chevron-circle-right {
    margin-right: 10px;
  }
}

.bg-app {
  min-height: 350px;
  padding-top: 15px;
  margin-top: 10px;
  background-color: $light-primary-color;
  .sign-in {
    margin-top: 50px;
  }
}

.hr-title {
  margin: 10px 0 15px;
  border: 0;
  border-bottom: 1px solid #839ba8 !important;
}
