$dark-primary-color:    #455a64;
$default-primary-color: #607d8b;
$light-primary-color:   #fbfbfb;
$text-primary-color:    #455a64;
$accent-color:          #03a9f4;
$primary-text-color:    #212121;
$secondary-text-color:  #757575;
$divider-color:         #bdbdbd;
